# Ignore LibTorch library:
learning/libTorchTutoials/libtorch

# Ignore virtual python environment:
pythonEnv

# Ignore dataset files:
data

# Ignore .vscode folder:
.vscode

# Ignore CPP build files:
learning/libTorchTutoials/00_helloLibTorch/helloTensor/build

# Ignore openFrameworks:
openFrameworks